@model decimal

@{
    @*<span class="currency">$3.50</span*@
    IFormatProvider formatProvider = 
        new System.Globalization.CultureInfo("en-US"); // or sk-SK
    <span class="currency">@Model.ToString("C", formatProvider)</span>
}