@model List<AspNetMvc5Examples.Web.Models.ModelBinderArrayViewModel>

@{
    ViewBag.Title = "BindToValueTypeList";
}

<h2>BindToValueTypeList</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="rows">
            @foreach (var viewModel in Model)
            {
                Html.RenderPartial("_ModelBinderArrayViewModel", viewModel);    
            }
        </div>
        <div>
            <input type="button" id="add-row" value="Add" class="btn btn-primary" />
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts
{
    <script type="text/javascript">
        
        $(function () {
            $('#add-row').on('click', function () {
                $.get("@Url.Action("_ModelBinderArrayViewModel", "ModelBinding")", function (partialView) {
                        $('#rows').append(partialView);
                    })
                    .done(function () {
                    })
                    .fail(function() {
                    
                    });
            });

            $("body").on("click", ".delete-row", function () {
                $(this).parents(".form-group").remove();
                return false;
            });
        });
    </script>
}