@model List<AspNetMvc5Examples.Web.Models.ModelBinderArrayViewModel>

@{
    ViewBag.Title = "BindToValueTypeList";
}

<h2>BindToValueTypeList</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @foreach (var viewModel in Model)
        {
            using(Html.BeginCollectionItem("list"))
            {
                Html.RenderPartial("_ModelBinderArrayViewModel", viewModel);     
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts
{
    <script type="text/javascript">
        @*$('#addrow').on('click', function () {
            $.get(@Url.Action(""))
                .done(function (partialView) {
                    $('#new-Employee').append(partialView);
                })
                .fail(function() {
                    
                });
        });*@
        $(function() {
            $(".delete-row").on("click", function () {
                $(this).parents(".form-group").remove();
                return false;
            });
        });
    </script>
}